*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}

/* Sfondi  */
#sfondo{
    height: 100vh;
    position: relative;
}
#sfondo_top{
    height: 20vh;
    background-color: #00bfa5;
}
#sfondo_main{
    background-color: #d4dbd9;
    height: 80vh;
}


/* Parte principale  */
.container{
    height: 90vh;
    position: absolute;
    top: 30px;
    background-color: white;
    width: 94%;
    left: 3%;
    display: flex;
}


/* parte sinistra ( nav) */
#navbar{
    height: 100%;
    width: 35%;
    
}
/* classe generale img  */
.avatar{
    width: 50px;
    height: auto;
    border-radius: 50%;
}
    /* nome utente  */
    #nome_utente{
        width: 100%;
        height: 10%;
        background-color: rgb(223, 223, 223);
        display: flex;
        justify-content: space-between;
    }
        #nome_e_immagine{
            height: 100%;
            display: flex;
            align-items: center;
            padding-left:10px ;
        }
        #nome{
            margin-left: 10px;
            font-weight: bold;
        }
        .icone_nav{
            display: flex;
            align-items: center;
            height: 100%;
        }
        .icone{
            color: rgb(173, 171, 171);
            margin: 0 10px;
            cursor: pointer;
            font-size: 20px;
        }

    /* notifiche  */
    #notifiche{
        width: 100%;
        height: 15%;
        background-color: rgb(128, 199, 240);
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
        #notifiche_audio{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: white;
            margin-right: 10px;
        }
        #audio{
            color: rgb(128, 199, 240);
        }
        #attiva_notifiche{
            color: rgba(0, 0, 0, 0.589);
            font-size: .8rem;
        }

    /* ricerca  */
    #ricerca{
        display: flex;
        align-items: center;
        width: 100%;
        height: 5%;
        background-color: white;
        padding: 10px;
    }
        #icon_search{
            padding: 5px;
        }
        #input_search{
            width: 90%;
            height: 30px;
            border-left: none;
            border-style: none;
        }
    /* sezione chat  */
    #container_chat{
        width: 100%;
        overflow-y: scroll;
        height: 70%;
    }
        #container_chat .chat{
            width: 100%;
            height: 80px;
            border-top: 1px solid #ccc;
            display: flex;
            padding: 10px 5px 10px 20px;
        }
        .img_chat{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 20px;
        }
        .chat p{
            font-size: .7rem;
            color: #ccc;
        }
        #messaggio_e_data{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        #data_now{
            font-size: .7rem;
            color: #ccc;
        }
        


/* parte visualizzazione messaggi  */
#main_chat{
    height: 100%;
    width: 65%;
    /* debug */
    background-color: rgba(216, 191, 216, 0.342);
    border-left:1px solid #ccc ;
}

    /* chat aperta con?*/
    #open_chat_name{
        width: 100%;
        height: 10%;
        background-color: rgb(223, 223, 223);;
        display: flex;
        padding-left: 20px;
        align-items: center;
        justify-content: space-between;
    }
        #ultimo_accesso{
            color: rgba(0, 0, 0, 0.589);
            font-size: .8rem;
        }
    #open_chat_left{
        height: 100%;
        display: flex;
        align-items: center;

    }

    /* visualizzazione chat  */
    #visual_open_chat{
        width: 100%;
        height: 80%;
        background-image: url(../img/whatzapp.jpg);
        padding: 40px;
        overflow-y: scroll;
    }

        #sent{
            width: 250px;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 20px;
            background-color: #e5ffcc;
            position: relative;
            left: 550px;
        }
        #received{
            width: 250px;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 20px;
            background-color: white;

        }
        .data_invio{
            text-align: end;
            font-size: .7rem;
            color: #ccc;
            position: relative;
        }
        .info_delete{
            background-color: white;
            width: 150px;
            height: 100px;
            position: absolute;
            top: 20px;
            left: 80px;
            color: black;
            box-shadow: 0px 0px 4px 0px black;
            display: none;
            z-index: 3;
        }
        .section_info_delet{
            border-bottom: 1px solid black;
            height: 50%;
            width: 100%;
            justify-content: space-around;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }
        .section_info_delet:hover{
            background-color: rgba(0, 0, 0, 0.082);
        }
        #active_info{
            display: block;
        }
        .fas.fa-chevron-down{
            cursor: pointer;
        }
    /* sezione invio messaggi  */
    #send_message{
        width: 100%;
        height: 10%;
        background-color: rgb(241, 235, 226);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
        #send_message_input{
            height: 80%;
            width: 80%;
            padding-left: 20px;
            border-style: none;
            border-radius: 10px;
        }
        .icon_message{
            font-size: 25px;
            color: rgba(0, 0, 0, 0.589);
        }




/* hover  */
#container_chat .chat:hover{
    background-color:rgba(0, 0, 0, 0.068); ;
}

