<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

 
    <!-- Sfondo top -->
        <div id="sfondo">
            <div id="sfondo_top">
            
            </div>
        
            <!-- sfondo main  -->
            <div id="sfondo_main">
        
            </div>
        </div>
        
    
        <!-- Parte principale  -->
        <div class="container" id="app">
            
            <!-- Parte ricerca chat e struttura  -->
            <aside id="navbar">
                <!-- section nome utente  -->
                <section id="nome_utente">
                    <div id="nome_e_immagine">
                        <img class="avatar" src="img/avatar_io.jpg" alt="avatar_io">
                        <span id="nome">Nome utente</span>
                    </div>

                    <div class="icone_nav">
                        <i class="icone fas fa-power-off"></i>
                        <i class="icone fas fa-comment-alt"></i>
                        <i class="icone fas fa-ellipsis-v"></i>
                    </div>
                </section>

                <!-- section notifiche  -->
                <section id="notifiche">
                    <div id="notifiche_audio">
                        <i id="audio" class="fas fa-bell-slash"></i>
                    </div>
                    <div>
                        <span>
                            Ricevi notifiche di nuovi messaggi
                        </span>
                        <div>
                            <a id="attiva_notifiche" href="#">
                                Attiva notifiche desktop
                            </a>
                        </div>
                       
                    </div>
                </section>

                <!-- section ricerca  -->
                <section id="ricerca">
                    <div id="icon_search">
                        <i class="icone fas fa-search"></i>
                    </div>
                    <input id="input_search" type="text" placeholder="Cerca o inizia una nuova chat">
                </section>

                <!-- section chat  -->
                <section id="container_chat">
                    <div class="chat" v-for="(contatto,i) in contatti" :key="i">
                        <!-- immagine chat utente  -->
                        <img class="img_chat" :src="contatto.immagine" alt="contatto.nome" >
                        <div id="messaggio_e_data">
                            <div>
                                <!-- nome  -->
                                <span>
                                    {{contatto.nome}}
                                </span>
                                <!-- messaggio  -->
                                <p>
                                    {{contatto.messages[contatto.messages.length -1].text}}...
                                </p>
                            </div>

                            <div id="data_now">
                                {{contatto.messages[contatto.messages.length -1].data}}
                            </div>
                        </div>
                        
                    </div>

                   
                </section>
            </aside>

            <!-- parte centrale , chat  -->
            <main id="main_chat" > 
                <!-- chat aperta con? -->
                <section id="open_chat_name">
                    <div id="open_chat_left" v-if="contatto.visibile === true"  v-for="(contatto,i) in contatti" :key="i">
                        <img class="img_chat" :src="contatto.immagine" :alt="contatto.nome">

                        <div>
                            <div>
                                {{contatto.nome}}
                            </div>
    
                            <div v-for="element in contatto.messages" v-if="element.status === 'received'" id="ultimo_accesso">
                               Ultimo accesso oggi alle {{element.data}}
                            </div>
                        </div>
                    </div>

                    <div class="icone_nav">

                        <i class="icone fas fa-search"></i>
                        <i class="icone fas fa-paperclip"></i>
                        <i class="icone fas fa-ellipsis-v"></i>

                        
                    </div>
          
                </section>

                <!-- visualizzazione chat  -->
                <section id="visual_open_chat">

                </section>


                <!-- sezione input invio messaggi -->
                <section id="send_message">

                </section>
            </main>

        </div>
    





    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>